body,html {
  margin: 0;
  height: 100%;
}


body {
  padding-top: 50px;
  padding-bottom: 0px;
}



.email-form {
  width: auto;
  margin: 0 auto;
}

.image-background {
  background: url("../img/colorful.jpg");
  background-size:auto;
  max-width: auto;
  height: 100%;
}

  .background {
    background: url("../img/purple.jpg");
    background-size: cover;
    padding: 10px;
    height: 300px;

  }

p {
  font-size: 20px;
  text-align: center;
}


.carousel-inner .item img {
  height: 300px;
  width: 300px;
}

.carousel-indicators .active{
  background-color:;
}

.carousel-indicators li{
  border-color:;
}

canvas {
  position: absolute;
  top: 0px;

}
